################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.MOV
*.mp4
*.txt
/FindShoot/Debug/FindShoot.tlog
*.log
*.obj
*.pch
*.idb
*.pdb
*.filters
*.user
/FindShoot/Release/FindShoot.tlog
/.vs/FindShoot/v15
/FindShoot/x64
/packages/MSBuilder.Git.0.3.0
*.config
/repo
/x64
/MVI_3
/FindShoot/MVI_3.csv
/MVI_3.csv
/MVI_3.xls
/MVI_3.xlsx
/~$MVI_3.xlsx
/‏‏MVI_3 - עותק.csv
/MVI_1
/MVI_2
/VID-20181125-WA0005.csv
/MVI_4.csv
/MVI_2.csv
/MVI_1.csv
/MVI_4
/AnalyzeShotResults/x64/Release/AnalyzeS.6280F631.tlog
/AnalyzeShotResults
